<% provide :page_title, 'Admin Users' %>
<% currently_at 'Users' %>

<h1 class="mb-4"><%= t '.title' %></h1>

<div class="btn-group mb-3">
  <%= link_to t('.download'), admin_users_path(format: :zip),
              class: 'btn btn-secondary' %>
</div>

<%= pagination @pagy %>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"><%= t '.name' %></th>
    <th scope="col"><%= t '.email' %></th>
    <th scope="col"><%= t '.created_at' %></th>
    <th scope="col"><%= t '.updated_at' %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>

<%= pagination @pagy %>

<h2 class="mb-3"><%= t '.upload' %></h2>

<%= form_with url: admin_users_path do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-10">
      <%= f.file_field :archive, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit t('.button_submit'), class: 'btn btn-primary' %>
<% end %>
